{{ extends "global/Slider.html" }}

{{ block Slides }}
<!-- <input type="hidden" id="no-checks"> -->

    <!-- Slide 1: Experiment in Short --> 
    <div class="slide"> 
        <div class="text-container">
            <h2> The experiment - in short: </h2>
            <ul>
                <li>This study consists of two parts.</li>
                <li>In the first part you will be making binary purchasing decisions. This means you will be making decisions between product A or B. In total there will be <b>38 decisions</b>.</li>
                <li>In the second part you will complete a short questionnaire. Everything you fill in will be anonymous. </li>
                <li>The products that you will observe are <div class="greenbold">real</div> and have been selected from the <b>Dutch supermarket Albert Heijn</b>.</li>
            </ul>
            <i>Press → to continue reading </i>
        </div>
    </div>

    <!-- Slide 2: Decisions -->
    <div class="slide">
        <div class="text-container">
            <h2> Your Decision </h2>
            <p> In this experiment you will:</p>
            <ul>
                <li>Make multiple binary purchasing decisions (<div class="greenbold"> 38 rounds</div>).</li>
                <li>In each round, you will see <div class="greenbold">2 products</div> and their characteristics.</li>
                <li>These characteristics include their price and a carbon emissions label.</li>
                <li>The products come from a variety of categories and include <b>sweets, nuts, and muesli cereals</b>.</li>
            </ul>
            <i>Press → to continue reading </i>
        </div>
        <div class="img-container"> <!--change to example of decision screen for other conditions -->
            {{if control}}
            <div class="img-container"> <img src="{{ static C.example_control }}" class="img-instructions" alt="example of decision screen" id="img-example"> </div>
            {{elif price_prime}}
            <div class="img-container"> <img src="{{ static C.example_price_prime}}" class="img-instructions" alt="example of decision screen" id="img-example2"> </div>
            {{else}}
            <div class="img-container"> <img src="{{ static C.example_sus_prime}}" class="img-instructions" alt="example of decision screen" id="img-example2"> </div>
            {{endif}}
        </div>
    </div>

     <!-- Slide 3: Purchasing of Decisions -->
     <div class="slide">
        <div class="text-container">
            <h2> Purchasing Decisions </h2>
            <ul>
                <li>The purchasing decisions you will make today are hypothetical. However, we ask you to please make the following decisions as if you were in a real supermarket.
                <li>If you would not buy any of the products for yourself, please imagine that you are buying the product on behalf of someone else.</li>
                <li>Therefore, always choose the product that you would actually pay for.</li>
            </ul>
            <i>Press → to continue reading </i>
        </div>
    </div>

    <!-- Slide 4: Product Characteristics -->
    <div class="slide">
        <div class="text-container"> 
            <h2> Product Characteristics </h2>
            <ul>
                <!--Price-->
                <li>
                    <strong>Price:</strong> This is the cost you would need to pay for the product. The price is in <b>€</b>. 
                </li>
                <!--Carbon Labels-->
                <li>
                    <b>Carbon Labels:</b> display the amount (in kilograms) of carbon dioxide emissions per kilogram of product. This represents the total emissions produced throughout the product's life cycle. (<img src="{% static C.carbon_green %}"width="20"height="auto"/>).
                    The colors in the carbon labels reflect their carbon emissions relative to other products in their own category. 
                    Products with higher kg of carbon emission (<img src="{% static C.carbon_red %}"width="20"height="auto"/>) have a higher environmental impact. <b>Remember, </b> the emissions data shown are actual figures from products available at a Dutch supermarket chain, reflecting their real environmental impact. 
                </li>
                    <div class="slide2-description">Higher amount of kg of CO2  <span>&#8594;</span> less sustainable.</div>
            </ul>
            <i>Press → to continue reading </i>
        </div>
    </div>

    <!-- Slide 5: Purchasing Platform -->
    <div class="slide">

         <!--Gif instead of Hover MAKE GIF OF HOVERING for the other conditions and add to if statement--> 
         {{if control}}
         <div class="text-container">
            <h2> Purchasing Platform </h2>
            <p> 
                The product characteristics (Price, Sustainability) for each product will be hidden.
            </p>
            <p>
            To reveal the information, all you need to do is to move your mouse on top of it, and the information will be revealed. 
            </p>
             <p>
                <div class="greenbold">Here is an example.</div>
             </p>
         </div>
            <div class="img-container"> <img class="gif-instructions" src="{% static C.example_control %}" /> </div>
         {{elif price_prime}}   
         <div class="text-container">
            <h2> Purchasing Platform </h2>
            <p> 
                The product characteristics (Price, Sustainability) for each product will be hidden.
            </p>
            <p>
            At the beginning of the round, most of the information will be hidden. <b> Due to software limitations there might be delays of when you can see all the product information. However, these delays should never be more than a few seconds</b>.
            To reveal the information, all you need to do is to move your mouse on top of it, and the information will be revealed. 
            </p>
             <p>
                <div class="greenbold">Here is an example.</div>
             </p>
         </div>
            <div class="img-container"> <img class="gif-instructions" src="{% static C.example_price_prime %}" /> </div>
        {{else}}
        <div class="text-container">
            <h2> Purchasing Platform </h2>
            <p> 
                The product characteristics (Price, Sustainability) for each product will be hidden.
            </p>
            <p>
                At the beginning of the round, most of the information will be hidden. <b> Due to software limitations there might be delays of when you can see all the product information. However, these delays should never be more than a few seconds</b>.
                To reveal the information, all you need to do is to move your mouse on top of it, and the information will be revealed. 
            </p>
                <div class="greenbold">Here is an example.</div>
             </p>
         </div>
            <div class="img-container"> <img class="gif-instructions" src="{% static C.example_sus_prime %}" /> </div>
         {{endif}}
    </div>

    <!--Slide 6: one more time -->
   <div class="slide">
        <div class="text-container">
            <h2> Product Selection </h2>
            <ul>
                <li> Once you have decided, choose the product you want by clicking on the buttons below ("Product A", "Product B"). </li>
                <li> If you didn't quite get it yet, don't worry! There will be <div class="greenbold">3 practice rounds</div> before the real experiment starts. </li>
            </ul>
        </div>
        <img src="{% static C.circled_task %}" width="400" height="auto"/>
    </div>

    <!--Slide 7: let's get started -->
    <div class="slide">
        <div class="text-container">
            <h2> Practice Rounds </h2>
            <ul>
                <li> Before the practice rounds, we will ask some <div class="greenbold">questions</div> to ensure the instructions were clear. </li>
                <li> Once you have those right, you can do the <div class="greenbold">3 practice rounds.</div> </li>
                <li>These practice rounds do not count for the real experiment and ensure you understand the task. </li>
            </ul>
        </div>
    </div>

    <!-- Slide 8: Control Questions -->
    <div class="slide"> 
        <div class="text-container questions-container">
            <h2> Control Questions </h2>
            <ul>

                <!--Question 1-->
                <li>
                    <div class="inst-question">
                        <label for="Q1"> How can you look at the product information? </label>
                    </div>
                    <div class="answer-field">
                        <select name="Q1" id="Q1" class="dropdown ControlQuestions">
                            <option value="nothing">--Select--</option>
                            <option value="a"> You hover over it with your mouse. </option>
                            <option value="b"> You can't. </option>
                            <option value="c"> It will already be revealed to you.  </option>
                        </select>
                    </div>
                </li>

                <div class="hint" id="hint2">
                    Incorrect: Go back to the first slide
                </div>

                <!-- Question 2 -->
                <li>
                    <div class="inst-question">
                        <label for="Q2"> What does a higher amount of kg of CO2 per kg of product mean?</label>
                    </div> 
                    <div class="answer-field">
                        <select name="Q2" id="Q2" class="dropdown ControlQuestions">
                            <option value="nothing">--Select--</option>
                            <option value="a"> It means the product is more sustainable. </option>
                            <option value="b"> It does not tell you anything. </option>
                            <option value="c"> It means the product is less sustainable. </option>
                        </select>
                    </div>
                </li>
                <div class="hint" id="hint5">
                    Incorrect: see slide 3
                </div>

                <!--Question 3-->
                <li>
                    <div class="inst-question">
                        <label for="Q3"> How many practice trials are there</label>
                    </div>
                    <div class="answer-field">
                        <input type="text" name="Q3" id="Q3" class="ControlQuestions">
                    </div>
                </li>
                <div class="hint" id="hint7">
                    Incorrect: see the previous slide
                </div>
                
                <!-- Submit answers and Next button (next button appears when user answers all questions correctly)-->
                <li>
                    <button type="button" id="submitAnswer" class="button" onclick="ValidateSaveSubmit()"> Submit </button>
                </li>
                <li>
                    As soon as you finish these questions and submit you will begin with the practice rounds. Good luck!  
                </li>
            </ul>
        </div>
    </div>

{{ endblock }}

{{ block app_styles }}
<link href="{% static 'global/css/global.css' %}" rel="stylesheet">

<style>
    /* If there are small things, you can always define them within this page. If too much style changes, make a new css file */
    #img-example {
        width: 400px;
        height: auto;
    }

    #img-example2 {
        width: 450px;
        height: auto;
    }

    .text-container {
        font-size: larger;
    }

</style>
{{ endblock }}

{{ block app_scripts }}
<script>

  const lSolutions = js_vars.lSolutions; // Solutions for Check-up questions in the last slide

  function ValidateSaveSubmit() {
    validateAnswers();
  }

  window.addEventListener("DOMContentLoaded", () => {
    // Get divs to add tooltips
    let lGreen = document.getElementsByClassName("greenbold");
    let lBlue = document.getElementsByClassName("bluebold");
    let lRed = document.getElementsByClassName("redbold");

    // Green tooltip
    for (let i = 0; i < lGreen.length; i++) {
        let span = document.createElement('span');
        span.innerHTML = "You";
        span.classList.add("tooltiptext");
        lGreen[i].appendChild(span);
    }

    // Blue tooltip
    for (let i = 0; i < lBlue.length; i++) {
        let span = document.createElement('span');
        span.innerHTML = "Previous participants";
        span.classList.add("tooltiptext");
        lBlue[i].appendChild(span);
    }
  });
</script>
{{ endblock }}

